[submodule "reference_implementations/npm-sample-qc"]
	path = reference_implementations/npm-sample-qc
	url = git@github.com:c-BIG/NPM-sample-qc.git
[submodule "reference_implementations/argo-dnaalnqc"]
	path = reference_implementations/argo-dnaalnqc
	url = https://github.com/icgc-argo-workflows/dnaalnqc
[submodule "reference_implementations/argo-vcfqc"]
	path = reference_implementations/argo-vcfqc
	url = https://github.com/icgc-argo-workflows/vcfqc
